$blue-palette: (
  50: #e3ebef,
  100: #baced8,
  200: #8cadbe,
  300: #5d8ca4,
  400: #3b7391,
  500: #185a7d,
  600: #155275,
  700: #11486a,
  800: #0e3f60,
  900: #082e4d,
  A100: #82bfff,
  A200: #4fa6ff,
  A400: #1c8cff,
  A700: #037fff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
  ),
);

$green-palette: (
  50: #e0ede8,
  100: #b3d2c5,
  200: #80b49e,
  300: #4d9677,
  400: #268059,
  500: #00693c,
  600: #006136,
  700: #00562e,
  800: #004c27,
  900: #003b1a,
  A100: #71ff9f,
  A200: #3eff7d,
  A400: #0bff5a,
  A700: #00f14e,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
  ),
);
